<!DOCTYPE html>
<html lang="es">
<head>
  <meta charset="utf-8">

  <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
  <meta name="description" content="">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="./css/moravia.css">

  <title>Articles :: Node.js - Express - FrontEnd test</title>

  <script src="./js/jquery-1.11.1.min.js"></script>
  <script src="../js/functions.js"></script>
  <script type="text/javascript">
    var server = "http://localhost:3000/";

    function read_data(token){
      // read the articles
      $.getJSON(server+'articles.json?token=' + token, function(data) {
        for (var i = 0; i < data.length; i++) {
          $('<article>').appendTo('#articles').html(

            '<div class="photos pic-'+data[i].id+'"></div>'+
            '<div class="art-content">'+
              '<h2>'+data[i].title+'</h2>'+
              '<p>'+data[i].body+'</p>'+
              '<p class="author">Autor: '+data[i].author+'</p>'+
            '</div>'+
            '<div class="ClearFix">&nbsp;</div>'
          );
        }
      }).error(function() {
        logout();
      });
    }

    $(document).ready(function(){

        // check if the localStorage token == app token
        var tkn = JSON.parse(localStorage.getItem('myToken'));
        if(tkn!=null){
          login(tkn);
        }else{
          console.log(tkn);
          logout();
        }

        $("#logout").click(function(e){
          e.preventDefault();
          logout();
        });

        $(".infobox").css("display","none");
    });  
  </script>

</head>
<body>

    <div class="container">

        <div class="content">
        	
          <section id="access">
            <form method="post" id="login">
                <h3>LOGIN</h3>
  	          	<label for="user">User: </label>
  	           	<input type="text" name="user" id="user" class="iTxt" placeholder="username" required>
  	           	<br>
  	           	<label for="pass">Password: </label>
  	           	<input type="password" name="pass" id="pass" class="iTxt" placeholder="password" required>
                  <br>
  	           	<input type="submit" value="Login" class="btn">
  	        </form>
            
            <div class="logued-in">
              <h3>Welcome back!</h3>
              <span class="you"></span>
              <ul class="nav_bar">
                <li>
                  <a href="/" class="btn home">HOME</a>
                </li>
                <li>
                  <a href="/photos" class="btn pic">PHOTOS</a>
                </li>
                <li>
                  <a href="" id="logout" class="logout">LOGOUT</a>
                </li>
              </ul>
            </div>
            
            <div class="infobox"></div>
          </section>

          <section id="articles">
            <h1>Articles</h1>
          </section>

        </div>
        
    </div>

</body>
</html>
