@charset "utf-8";
@import url(http://fonts.googleapis.com/css?family=Open+Sans:400italic,400,600);
/* CSS3 */
/* /////////////////////////////////////////////////////////////////////	RESET */
/*
//  Federico R. Teiserskis
//
///////////////////////////////////////////////////////////////////////////////// */

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, font, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, i, center, dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, audio, canvas, details, figcaption,
figure, footer, header, hgroup, mark, menu, meter, nav,
output, progress, section, summary, time, video {
	margin: 0;
	padding: 0;
	border: 0;
	outline: 0;
	vertical-align: baseline;
	background: transparent;
}
html{ font-size: 62.5%; } /* este % me habilita a usar 1.4rem=14px, 1.6rem=16px, 1rem=10px, etc */
body { 
	font-size: 13px; /* navegadores viejos */
	font-size: 1.3rem; /* rem = root em */
	line-height: 1.5em;
	line-height: 1.61803398875em;
	font-family: 'Open Sans', sans-serif, Arial, Helvetica, Sans;
	color: #616161;
}
article, aside, dialog, figure, footer, header, hgroup, nav, section, blockquote { display: block; }
nav ul { list-style: none; } 
ol { list-style: decimal; }
ul { list-style: disc; }
ul ul {	list-style: circle; }
blockquote, q { quotes: none; }
blockquote:before, blockquote:after, q:before, q:after { content: ''; content: none; }
ins { text-decoration: underline; }
del { text-decoration: line-through; }
mark { background: none; }
abbr[title], dfn[title] {
	border-bottom:1px dotted #000;
	cursor:help;
}
/* tables still need 'cellspacing="0"' in the markup */
table {
	border-collapse: collapse;
	border-spacing: 0;
}
img{
	max-width: 100%;
}
hr {
	display: block;
	height: 1px;
	border: 0;	
	border-top: 1px solid #ccc;
	margin: 1em 0;
	padding: 0;
}
.ClearFix{display: block;overflow: hidden;clear: both; height: 1px; line-height: 0; font-size: 0px}

section#access{
	width: 100%;
	text-align: center;
	display: block;
	overflow: hidden;
	clear: both;
	-webkit-box-sizing: border-box;
	   -moz-box-sizing: border-box;
			box-sizing: border-box;
	margin: 50px auto;
	padding: 18px;
	background: #fbfbfb;
	border: solid 1px #e6e6e6;
	/*-webkit-border-radius: 6px 6px 6px 6px;
	border-radius: 6px 6px 6px 6px;*/
}
h1{
	display: block;
	overflow: hidden;
	clear: both;
	margin: 0 auto 12px;
	font-weight: bold;
	font-size: 2.4em;
	line-height: 1.6em;
	text-align: center;
}
h3{
	display: block;
	overflow: hidden;
	clear: both;
	margin: 0 auto 12px;
	font-weight: bold;
	font-size: 1.6em;
	text-align: center;
}
.iTxt{
	display: block;
	overflow: hidden;
	clear: both;
	margin: 0px auto;
	padding: 4px;
	border: solid 1px #e6e6e6;
	-webkit-border-radius: 2px 2px 2px 2px;
	border-radius: 2px 2px 2px 2px;
}
.btn, .logout {
	background: transparent;
	border: none;
	display: block;
	-webkit-border-radius: 9;
	-moz-border-radius: 9;
	border-radius: 9px;
	width: 70px;
	text-align: center;
	font-family: Arial;
	color: #ffffff;
	font-size: 14px;
	background: #3498db;
	padding: 9px 20px 10px 20px;
	text-decoration: none;
	margin: 0 auto;
}
	.btn:hover, .logout:hover {
		background: #176da3;
		text-decoration: none;
	}
	.btn.home{
		background: #d9534f;
	}
	.btn.home:hover{
		background: #d2322d;
	}
	.btn.art{
		background: #f0ad4e;
	}
	.btn.art:hover{
		background: #ed9c28;
	}

	.btn.pic{
		background: #5cb85c;
	}
	.btn.pic:hover{
		background: #47a447;
	}
	
	

.infobox{
	/*background-color: #FFBABA;*/
	width: 100%;
	display: none;
	text-align: center; 
	border-bottom: solid 1px #D8000C; 
	color: #D8000C; 
	padding: 4px; 
	margin-top: 8px;
}
.infobox.ok{
	border-bottom: solid 1px #82cb2f;
	color: #82cb2f;
}

.logued-in{
	display: none;
}

section#access label{
	display: none;
}
section#articles{
	width: 800px;
	display: none;
	overflow: hidden;
	clear: both;
	margin: 50px auto;
	background: #fbfbfb;
	padding: 20px;
	border: solid 1px #e6e6e6;
}
section#articles > article{
	margin-bottom: 40px;
}
.photos{
	display: block;
	float: left;
	width: 220px;
	overflow: hidden;
}
.art-content{
	display: block;
	float: left;
	width: 100%;
	/*margin-left: 20px;*/
	overflow: hidden;
}
.author{
	font-size: 1.1rem;
	font-weight: 600;
	text-align: right;
	padding-top: 8px;
}

ul.nav_bar, ul.nav_bar li,
ul#photos, ul#photos li{
	margin: 0;
	padding: 0;
	list-style: none;
}

ul.nav_bar li{
	display: inline-block;
	margin: 1.2em;
}

ul#photos li{
	display: block;
	overflow: hidden;
	clear: both;
	margin: 6px 0;
	text-align: center;
}